/*-- BUTTONS --*/

input[type=submit],
input[type=reset],
input[type=button],
input[type=image],
button {
line-height: 1em;
background-color: grey;
padding : 1em;
border : 0;
vertical-align: middle;
color : black;
border-color : #333;
text-align : center;
@include border-radius(0.25em);
}


input[type=reset]:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=image]:hover,
button:hover {
	border-color : black;
	background-color : #333;
	color: yellow;
}

input[type=reset]:active,
input[type=button]:active,
input[type=submit]:active,
input[type=image]:active,
button:hover {
	border-color : black;
	background-color : #333;
	color: yellow;
}


/*-- CLASSED SELECTORS --*/

/*-- VARIED EMPHASIS--*/
/*-- BOLD TEXT --*/

.bold {
	font-weight: bold;
}


/*-- VARIED SIZES --*/

.small {
	padding: 0.5em;
}

.large {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2em;
}


.active {
	background-color: blue;
	color: #fff;
}

/*-- DISABLED --*/

input[type=button]:disabled,
.disabled,
.disabled:hover {
	background-color: #000;
	color: #999;
	opacity: 0.3;
	text-decoration: line-through;
}


/*-- PILLGROUPS --*/

// NB! The pillGroup class is for
// the span wrapper of the buttons

.pillGroup {
	display: inline-block;
	@include border-radius(0.3125em);
}


.pillGroup button,
.pillGroup input[type=button],
.pillGroup a {
	border-top: 1px solid red;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 0;
}

.pillGroup button:first-child,
.pillGroup a:first-child {
 @include border-left-radius(0.25em);
}

.pillGroup button:last-child,
.pillGroup a:last-child {
 border-right: 0px;
 margin-right: 1px;
 @include border-right-radius(0.25em);
}


.iconButton {
	span {
		padding-right: 0;
		position: relative;
		top: 0.0625em;
	}
}
