/*-- TABS --*/

button[role=tab]{
padding: 1em;
text-decoration:none;
border: 0px;
margin-right: 1px!important;
border-bottom-right-radius : 0;
border-bottom-left-radius : 0;
}


button[role=tab].active { /*--NB! Class--*/
background-color: #666;
color : yellow;
}


// If there is a div below the tabs --*/
// then give it a border --*/
button[role=tab] + div {
border: solid 1px #666;
padding: bordered-button-padding(1px);
}
