@font-face {
  font-family: 'Inconsolata-Bold';
  font-style: normal;
  src: url('../fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-Regular';
  font-style: normal;
  src: url('../fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}





/*-- Headers -----------------------*/
// Use only full and half 'ems'

* {
  font-family: Helvetica,Arial sans-serif;
}

h1,h2,h3,h4,h5 {
vertical-align:baseline;
margin-bottom : 1rem;
}

h1 {
font-size:3em;
line-height:1.0em;
}


h2 {
font-size:2.0em;
line-height:1.0em;
}


h3 {
font-size:2.0em;
font-weight:normal;
line-height:1.0em;
}

h4 {
font-size:1.0em;
text-transform:uppercase;
line-height:1.5em;
}

h5 {
margin-bottom:0px;
line-height:2.0em;
}


p {
margin:0px 0px 2em 0px;
max-width: 40em;
}


header {
margin-bottom:1em;
vertical-align : sub;
}

header p {
font-size:1.0em;
color:#666;
line-height:1em;
}

// Affect the p's within a header group

header h1 + p {
	line-height:1.5em;
	padding-bottom:1em;
	font-size:2em;
	max-width : 20em;
}

header h2 + p {
	line-height:1em;
	padding-bottom:1em;
	font-size:1.5em;
}


header h3 + p {
	line-height:1.0em;
	padding-bottom:1em;
	font-size:1.0em;
}

header h4 + p {
	line-height:1.0em;
	padding-bottom:1em;
	font-size:1.0em;
}
